.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg") ;
    background-repeat: no-repeat;
   
    display:inline-block;
}



.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    
    

}

.container__imagem {
    padding: 5px;

}

.lista-menu {
    display: none;
    position: absolute;
    top:100%;
    
}

.container__botao:checked ~ .lista-menu {
    display:block;

}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--branco);
    padding: 1em;

}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
text-transform: uppercase;
}

.container__botao {
    display: none;

}

.container__titulo, .opcoes {
    display: none;
}

.container__texto {
    display: none;
}



@media screen and (min-width: 1024px) {

    .container__titulo, 
    .comtainer__titulo--negrito {
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        
    }

    .comtainer__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        
        
    }
    
    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;

    }

    .opcoes__link {
        text-decoration: none;
        color: black;
    }

    .container__imagem-transparente,
    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none
    }
 
    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrad);
        color: white;
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrad);
        

    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: white;
        text-decoration: none;
        
    }





    

}

@media screen and (min-width: 1728px) {

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
       
    }

    .cabeçalho {
        padding: 0 2em;
    }


    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}